
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #95dada;
    cursor: pointer;
    transition: transform .3s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.cat-name {
    color: rgb(20, 20, 20);
}

.cat-email {
    overflow: hidden;
    color: darkblue;
    text-decoration: none;
    text-overflow: ellipsis;
}
